# Allow IFAAService access to Mlipay HAL
hal_client_domain(system_app, hal_mlipay)

allow system_app {
    storaged
    system_suspend
}:binder { call };
